node_modules/
dist/
dist-ssr/
*.local

# test & e2e artefacts
coverage/
playwright-report/
test-results/
blob-report/
.playwright/

.env
.env.*.local

.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
