POSTGRES_DB=travel_plan
POSTGRES_USER=travel_plan
POSTGRES_PASSWORD=change_me_postgres

NEO4J_USER=neo4j
NEO4J_PASSWORD=change_me_neo4j

ADMIN_DATABASE_URL=jdbc:postgresql://postgres:5432/travel_plan
ADMIN_DATABASE_USERNAME=travel_plan
ADMIN_DATABASE_PASSWORD=change_me_postgres

STRIPE_ENABLED=false
STRIPE_API_KEY=
PAYPAL_ENABLED=false
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

SONARQUBE_JDBC_USERNAME=sonar
SONARQUBE_JDBC_PASSWORD=change_me_sonar
SONARQUBE_JDBC_DATABASE=sonarqube

JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=change_me_jenkins
